@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* image preload */

body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content:
        url(../img/left_angle.svg) url(../img/left_angle_filled.svg) url(../img/right_angle.svg) url(../img/right_angle_filled.svg) url(../img/gemstone_ring.png) url(../img/star.svg) url(../img/result_bg_green.jpg) url(../img/result_bg_purple.jpg) url(../img/result_bg_teal.jpg) url(../img/result_bg_blue.jpg) url(../img/result_bg_pink.jpg) url(../img/result_bg_orange.jpg) url(../img/result_frame_green.png) url(../img/result_frame_purple.png) url(../img/result_frame_teal.png) url(../img/result_frame_blue.png) url(../img/result_frame_pink.png) url(../img/result_frame_orange.png) url(../img/gemstone1.png) url(../img/gemstone2.png) url(../img/gemstone3.png) url(../img/gemstone4.png) url(../img/gemstone5.png) url(../img/gemstone6.png) url(../img/gemstone7.png) url(../img/gemstone8.png) url(../img/gemstone9.png) url(../img/gemstone10.png) url(../img/gemstone11.png) url(../img/gemstone12.png);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', Helvetica, Tahoma, Arial, sans-serif, 'PingFang SC';
    box-sizing: border-box;
}
button{
    background-color: transparent;
    border: none;
}


/* 디자인시스템 */
.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.gold {
    color: #dcbd64;
}

.white {
    color: #fff;
}

.h2 {
    font-size: 2.5rem;
}

.h3 {
    font-size: 2rem;
}

.h4 {
    font-size: 1.5rem;
}

.h5 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}


.thin {
    font-weight: 100;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

.black {
    font-weight: 900;
}

.center {
    text-align: center;
}

.lh-18 {
    line-height: 20px;
}

/* v페이지시작------------------ */

.container {
    width: 100%;
    height: 100%;
    background-color: #0f0f0f;
}

.main {
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    text-align: center;
}

.title_top {
    margin-top: 5vh;
    width: 100%;
    height: 40px;
    background-image: url(../img/txt_top.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    margin-bottom: 16px;
}

.title_bottom {
    width: 100%;
    height: 20px;
    margin-bottom: 40px;
    background-image: url(../img/txt_bottom.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    margin-top: 16px;
}

.top {
    width: 100%;
    height: 16.6vh;
    background-image: url(../img/top.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
    position: absolute;
    top: 0;
}

.bottom {
    width: 100%;
    height: 16.6vh;
    background-image: url(../img/bottom.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
    position: absolute;
    bottom: 0px;
}

.bg_pattern {
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    position: absolute;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/bgpattern_tbl.png);
    display: none;
}

.button {
    width: 250px;
    height: 50px;
    background-color: #424242;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    border-radius: 30px;
    line-height: 50px;
    margin-bottom: 40px;
    cursor: pointer;
    z-index: 1;
}

.footer {
    z-index: 2;
    width: 325px;
}

.api {
    margin: 3vh auto;
    margin-top: 2vh;
    width: 150px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.kakao,
.instagram,
.facebook {
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.kakao {
    background-image: url(../img/kakaoicon.svg);
}

.facebook {
    background-image: url(../img/facebookicon.png);
}

.instagram {
    background-image: url(../img/instaicon.png);
}


/* 이름 입력페이자 */
.name_wrap{
    width: 90%;
    max-width: 370px;
}
.form_wrap{
    z-index: 2;
    margin: 70px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#nameInput {
    display: none;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#form {
    z-index: 1;
    display: block;
    margin: 0 auto;
}

.name_subscription{
    margin-top: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.questionicon{
    cursor: pointer;
}
#userName {
    background-color: #0f0f0f;
    outline: none;
    min-width: 150px;
    height: 50px;
    font-size: 18px;
    border: 1px solid #D4B864;
    padding: 10px;
    display: block;
    float: left;
}

.submitBtn {
    height: 50px;
    background-color: #968246;
    margin-left: 10px;
    margin-bottom: 1px;
    width: 60px;
    border: none;
    color: #ffffff;
    font-weight: 500;
}


/* 테스트페이지 */
.test {
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    display: none;
}

.test_container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* #back {
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 2vh;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
} */


.progress p {
    color: #fff;
    text-align: end;
    margin-bottom: 10px;
}

.progressbar {
    width: 50vw;
    min-width: 320px;
    height: 4px;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 30px;
}

.howMuch {
    width: 10%;
    height: 100%;
    border-radius: 20px;
    background-color: #dcbd64;
    transition-duration: 300ms;
}

.testmid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testmid img {
    width: 25vw;
    min-width: 250px;
    margin: 0 auto;
}
.q_innerbox{
    font-size: 18px;
}
.q_innerbox::before {
    content: '"';
    color: #fff;
    font-size: 20px;
    line-height: 0;
    float: left;
    margin-right: 10px;
}

.q_innerbox::after {
    content: '"';
    color: #fff;
    font-size: 20px;
    float: right;
    line-height: 0;
    margin-left: 10px;
}

.question {
    margin: 5vh auto;
    text-align: center;
    width: 40vw;
    min-width: 250px;
    color: #fff;
}

.ansbutton_warp {
    width: 50vw;
    min-width: 321px;
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
}

.testbot {
    margin-top: 30px;
}

.left_angle,
.right_angle,
.right_angle_filled,
.left_angle_filled {
    width: 10px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
}

.left_angle {
    background-image: url(../img/left_angle.svg);
}

.right_angle {
    background-image: url(../img/right_angle.svg);
}


.ans_button {
    width: 100%;
    min-width: 300px;
    height: 60px;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    border-top: 1px solid #dcbd64;
    border-bottom: 1px solid #dcbd64;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.ansbutton_wrap:last-child {
    margin-bottom: 0;
}

.stars {
    margin: 20px auto;
    width: 50vw;
    min-width: 300px;
    height: 32px;
}

.left_star,
.right_star {
    height: 32px;
    width: 32px;
    background-image: url(../img/star.svg);
}

.left_star {
    float: left;
}

.right_star {
    float: right;
}

/* 결과페이지 */
.result {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    /* height: calc(var(--vh, 1vh) * 100); */
}

#result_card {
    margin: 20px auto;
    width: 95vw;
    height: 90vh;
    min-width: 320px;
    max-width: 520px;
    min-height: 785px;
    border-radius: 15px;
    border: 2px solid #dcbd64;
    background-image: url(../img/result_bg_green.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#result_card>.stars {
    width: 80vw;
    max-width: 480px;
}

#result_frame {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    max-height: 680px;
    padding-bottom: 40px;
    text-align: center;
    color: #dcbd64;
    background-image: url(../img/result_frame_green.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.result span {
    display: block;
}

#gemstone_frame {
    width: 110px;
    height: 142px;
    margin: 20px auto;
    background-image: url(../img/gemstone_ring.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result_p_wrap {
    max-width: 300px;
    margin: 0 auto;
    padding: 0 30px;
    color: #fff;
}

#result_subtitle {
    margin-top: 100px;
}

/* #result_title {
    line-height: 2.6rem;
} */

.star_line {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sm_star {
    display: block;
    width: 11px;
    height: 11px;
    background-image: url(../img/star_sm.png);
}

.star_centerline {
    border-top: 1px solid #D4B864;
    margin: 20px 5px;
    width: 100%;
}

.star_centerline_srt {
    width: 35%;
    border-top: 1px solid #D4B864;
}

.rank_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -10px;
    margin-bottom: 20px;
}

.footer:last-child {
    width: 100%;
    margin: 0 auto;
}

#result_share {
    display: none;
    margin: 0px auto;
    padding-bottom: 30px;
}

#downloadWrap {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #0f0f0f;
}

#saveAsImg {
    margin: 0 auto;
    width: 200px;
    height: 46px;
    background-color: #968246;
    border-radius: 40px;
    margin-bottom: 20px;
    padding-bottom: 4px;
    animation: btnMove 300ms infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
    position: fixed;
    bottom: 10px;
    left: 50%;
}

@keyframes btnMove {
    from {
        transform: translate(-50%, 2px);
    }

    to {
        transform: translate(-50%, -2px);
    }
}

#saveAsImg>img {
    padding-top: 4px;
}

#saveAsImg:hover {
    border: 1px solid #D4B864;
    background-color: #0f0f0f;
}

.contact {
    width: 100%;
    margin-bottom: 60px;
}



/* 반응형 */

@media screen and (max-width : 768px) {
    .bg_pattern {
        display: block;
    }

    .test_container {
        margin: 0 auto;
        padding-top: -50px;
        height: calc(var(--vh, 1vh) * 100);
        justify-content: none;
    }
}

@media screen and (max-width : 425px) {
    .q_innerbox{
        font-size: 1rem;
    }
    #userName {
        float: none;
        width: 90%;
        margin: 0 auto;
    }

    .submitBtn {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        width: 125px;
    }
    .name_subscription{
        padding-right: 0px;
    }
}

@media screen and (max-width : 375px) {



    .bg_pattern {
        background-image: url(../img/bgpattern.png);
    }

    .h5 {
        font-size: 1rem;
    }

    .h4 {
        font-size: 1rem;
    }

    .h3 {
        font-size: 1.7rem;
    }

    .h2 {
        font-size: 3rem;
    }

    .button {
        width: 250px;
    }

    .tit_bottom {
        margin-bottom: 20px;
    }
}

@media screen and (max-width : 350px) {
    br {
        display: none;
    }
}

@media screen and (max-width : 321px) {
    .result_card {
        min-width: 300px;
    }
}